* {
  margin: 0;
}

/* Menu styles */
.bg {
  background-color: #b3abab;
}

.dessert-title {
  margin: 70px;
  text-align: center;
  font-size: 35px;
  font-family: 'Holtwood One SC', serif;
}
@media (max-width: 480px) {
  .dessert-title {
    margin: 30px;
    font-size: 20px;
  }
}
@media (min-width: 769px) and (max-width: 959px) {
  .dessert-title {
    font-size: 30px;
  }
}
@media (min-width: 960px) and (max-width: 1024px) {
  .dessert-title {
    font-size: 30px;
  }
}

.adjust-menu {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 70px;
  padding-top: 20px;
  text-align: center;
  font-size: 24px;
  padding: 2rem 1rem;
  resize: both;
}
@media (max-width: 480px) {
  .adjust-menu {
    max-width: 250px;
    font-size: 15px;
    padding: 10px 20px;
  }
}
@media (min-width: 769px) and (max-width: 959px) {
  .adjust-menu {
    max-width: 550px;
  }
}
@media (min-width: 960px) and (max-width: 1024px) {
  .adjust-menu {
    max-width: 700px;
  }
}
@media (min-width: 1025px) and (max-width: 1200px) {
  .adjust-menu {
    max-width: 770px;
    font-size: 22px;
  }
}

.coming-soon {
  margin: 50px;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.prox {
  position: relative;
  color: #333;
  font-size: 35px;
  letter-spacing: 5px;
  border-bottom: 16px solid #333;
  line-height: 1.4;
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
}
@media (max-width: 480px) {
  .prox {
    font-size: 22px;
  }
}
@media (min-width: 769px) and (max-width: 959px) {
  .prox {
    font-size: 30px;
  }
}
@media (min-width: 960px) and (max-width: 1024px) {
  .prox {
    font-size: 30px;
  }
}
@media (min-width: 1025px) and (max-width: 1200px) {
  .prox {
    font-size: 30px;
  }
}
.prox::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #b78fcf;
  border-bottom: 16px solid #b78fcf;
  animation: lod 2s linear infinite;
  overflow: hidden;
}
@keyframes lod {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
